*.jar
input-cache
output
temp
template
.vscode
.settings
.project

www/*   
!www/package-list.json   
!www/publish.ini

ch-vacd_vaccineCodeSlicing.patch
cibuild
git_repo_ehs.txt
README2.md